p {
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.overlay, .scare {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
p.overlay-title {
    font-size: 24px;
    font-weight: 1000;
    color: black;
    line-height: 1;
    margin-bottom: 16px;
}
.overlay-button {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
}
.overlay-buttons-wrapper {
    margin: 24px -8px -8px;
}
#accept-button {
    background-color: rgba(198, 133, 255, 1);
    color: white;
}
#decline-button {
    background-color: rgba(255, 133, 133, 1);
    color: white;
}
p.overlay-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    line-height: 1.25;
    margin-bottom: 16px;
}
a.overlay-link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(132, 94, 194);
    line-height: 1;
    position: relative;
    margin-top: 16px;
}
.overlay-body {
    max-width: 512px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.overlay[hidden] {
    display: none;
}
.overlay {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    padding-right: 24px;
    padding-left: 24px;
}
.scare {
    z-index: 1;
}
video#video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
video#video::-webkit-media-controls-enclosure {
    display: none !important;
}